<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Name</key>
    <string>ObjectRecognitionCamera</string>
    <key>LiveViewEdgeToEdge</key>
    <true/>
    <key>LiveViewMode</key>
    <string>VisibleByDefault</string>
    <key>PlaygroundLoggingMode</key>
    <string>Off</string>
    <key>UserModuleSourceFilesToOpen</key>
    <array>
        <string>UserModules/PreviewViewController.playgroundmodule/Sources/PreviewViewController.swift</string>
        <string>UserModules/VideoCapture.playgroundmodule/Sources/VideoCaptureDevice.swift</string>
    </array>
</dict>
</plist>
