[submodule "CoreML.playgroundbook/Contents/Modules/VideoCapture.playgroundmodule"]
	path = CoreML.playgroundbook/Contents/Modules/VideoCapture.playgroundmodule
	url = https://github.com/kkk669/VideoCapture.git
