<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Chapters</key>
    <array>
        <string>ObjectRecognition.playgroundchapter</string>
        <string>ObjectDetection.playgroundchapter</string>
    </array>
    <key>ContentIdentifier</key>
    <string>com.kebo.playgroundbook.coreml</string>
    <key>ContentVersion</key>
    <string>1</string>
    <key>DeploymentTarget</key>
    <string>ios12.2</string>
    <key>DevelopmentRegion</key>
    <string>en-US</string>
    <key>Name</key>
    <string>CoreML</string>
    <key>Version</key>
    <string>6.0</string>
    <key>SwiftVersion</key>
    <string>5.0</string>
    <key>UserModuleMode</key>
    <string>Full</string>
    <key>UserAutoImportedAuxiliaryModules</key>
    <array>
    </array>
</dict>
</plist>
